.idea
node_modules
.DS_Store
yarn.lock
yarn-error.log
package-lock.json
.env
.accs
.active_accs
.subs
.okx
.accs_TODO
class.py
.mainaccs
.mega_accs
.mega_accs_tmp
.used_mega
class.py
src/gen.js
src/gen_pks.ts
scroll_meta/scroll_contracts_addresses/*
scroll_meta/scroll_gen_res/*
